.scrollComponent{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.createPostContainer{
    display: flex;
    padding-inline: 0.8rem;
    height: 8svh;
    width: 70%;
    gap: 1.3rem;
    align-items: center;
    background-color: rgb(227, 225, 225);
    border-radius: 20px;
    position: relative;
}

.userProfile{
    width: 50px;
    height: 50px;
    background-color: rgb(5, 93, 131);
    border-radius: 100%;
    border: 2px solid black;
}

.uploadButton{
    position: absolute;
    right: 20;
    bottom: -50%;
    background-color: rgb(5, 93, 131);
    /* border: 1px solid black; */
    border-radius: 20px;
    padding-inline: 1.2rem;
    padding-block: 0.2rem;
    cursor: pointer;
}

.Fab svg {
    width: 45px;
    height: 40px;
    color: black;
    cursor: pointer;
}

.Fab{
    width: fit-content;
    height: fit-content;
    background-color: rgb(5, 93, 131);
    /* border: 2px solid rgb(153, 192, 243); */
    border-radius: 100%;
    /* box-shadow: 2px 2px 10px 1px rgb(105, 179, 239); */
}


.textAreaOfContent{
    width: 80%;
    height: 70%;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    font-size: 12px;
    color: black;
    /* border: none; */
    background-color:  rgb(162, 216, 240);
    border: 1px solid rgb(30, 30, 30);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.singleCard {
    /* background-color: rgb(246, 241, 235); */ 
    margin-top: 1px;
    width: 100%;
    /* border-radius: 10px; */
    border-bottom: 1px solid rgb(95, 176, 247);
}

.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.2rem;
    padding-right: 3.0rem;
    width: 100%;
}

.singleCard_image img{
    border-radius: 10px;
    width: 500px;
}

.optionsContainer{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
}

.singleOption_optionsContainer{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    justify-content: center;
}

.singleOption_optionsContainer > svg{
    height: 80%;
    width: 30px;
    cursor: pointer;
}

.commentsContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;    
}

.allCommentsContainer{
    width: 40vw;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
}

.postCommentsContainer{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.postCommentsContainer>input{
    flex: 0.9;
    width: fit-content;
    padding-block: 1.2rem;
    padding-inline: 1.5rem;
    border: none;
    background-color: rgb(160, 164, 164);
    border-radius: 10px;
    font-weight: 700;
    outline: none;
}

.postCommentsContainer>input :focus{ 
    border: 1px solid silver;
}

.postCommentsContainer_commentBtn{
    flex: 0.1;
    width: fit-content;
    padding: 1.2rem;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: rgb(245, 205, 76);
    border-radius: 10px;
}
