.container {
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;;
    padding: 4rem;
    padding-inline: 2rem;
    height: 80vh;

}

.mainContainer_left{
    flex:0.5;
}

.mainContainer_right{
    flex:0.5;
}

.mainContainer_left > p:nth-child(1) {
    font-size: 2.9rem;
    background: -webkit-linear-gradient(40deg, black, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainContainer_left > p:nth-child(2) {
    color: rgb(120, 124, 124);
    font-size: 1.7rem;
}

.mainContainer_left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.8rem;
    background-color: rgb(104, 137, 245);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 15px;
}

.mainContainer_right img{ 
    border-radius: 20px;
}