.container{
    display: flex;
    justify-content: center;
    height: 90svh;
    align-items: center;
    background: rgb(233, 230, 230);
}


.cardContainer{
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    background: rgb(249, 247, 247);
    box-shadow: 10px 10px 10px rgb(201, 197, 197);
}

.cardContainer_left{
    flex: 0.6;
    padding: 2rem;
    text-align: center;
}

.cardleft_heading{
    font-weight: bold;
    font-size: 1.8rem;    
}

.inputField{
    padding-inline: 1.3rem;
    padding-block:0.8rem ;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgb(168, 166, 166);
    width: 100%;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    max-width: 400px;
    margin: 0 auto;
    gap: 1.5rem;
}

.inputRow{
    width: fit-content;
    display: flex;
    gap: 1.2rem;
}

.buttonWithOutline{
    padding: 0.8rem 1.3rem;
    background: rgb(133, 166, 250);
    border: 2px solid rgb(107, 107, 248);
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.buttonWithOutline:hover{
    background: rgb(82, 128, 242);
    border: 2px solid rgb(174, 174, 239);
    box-shadow: 2px 3px 10px 3px rgb(174, 174, 239);
}

.cardContainer_right{
    flex: 0.4;
    background: rgb(37, 103, 164);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
    padding-inline: 1.2rem;
}

