.Discoverpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.allUserProfile {
    max-width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 10px;
}


.userCard {
    width: 40rem;
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    border-bottom: 1px solid rgb(72, 70, 70);
    border-radius: 10px;
    background-color: rgba(255, 252, 252, 0.786);
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.406);
    cursor: pointer;
}


.userCard_img {
    width: 70px;
    height: 70px;
    background-color: rgb(5, 93, 131);
    border-radius: 100%;
    border: 2px solid black;
}

@media only screen and (max-width: 600px) {
    .userCard {
        width: 100vw;
    }
}